.father {
    width: 50%;
    margin: auto;
    /* height: 90%; */
}

.head {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: dimgrey;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: -20px;
}

.blue {
    background-color: blue;
    
}

.blue p {
    display: inline-block;
    background-color: inherit;
    width: 33%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: medium;
    vertical-align: middle;
    /* margin: 0; */
    float: left;
}

.blue1 {
    text-align: left;
}

.blue2 {
    text-align: center;
    text-transform: uppercase;
}

.blue3 {
    text-align: right;
}

.headline {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: grey;
    text-transform: uppercase;
    text-align: center;
    margin-top: -30px;
    margin-bottom: -30px;
}

.container {
    display: inline;
}

.box2 {
    display: inline-block;
    width: 35%;
    max-height: 500px;
    /* background-color: aqua; */
    vertical-align: top;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-style: solid;
    color: darkgrey;
    box-shadow: 5px 5px 5px grey;
}

.coupon {
    display: block;
    border: dotted black;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: red;
    width: 250px;
    height: 120px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

.box {
    display: inline-block;
    width: 28%;
    /* background-color: grey; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    vertical-align: top;
    margin-left: 10px;
    /* text-align: justify; */
    padding-right: 20px;
}

.red {
    text-align: start;
    font-weight: bold;
    color: red;
}

.name {
    text-align: center;
    font-weight: bold;
}

.footer {
    text-align: left;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: grey;
}